
body {
    margin: 0 auto !important;
    background-color: #ffffff;
    background-image: url('../images/gplaypattern.png');
    background-repeat: repeat;
    line-height:1.2;
    font-family: 'Josefin Sans', sans-serif!important;

}


.select{
	font-variant: all-petite-caps!important;
}
	
	#jamBtn{
		margin-top:2em;
		font-family: 'Josefin Sans', sans-serif;

	}
    /* .row.main-content {
        margin: 0 auto;
    } */
    nav.nav-wrapper.valign-wrapper.blue-grey.lighten-2 {
        z-index: 10000;
        padding-top:1em;
    }

	.hoverable{
		cursor:pointer;
	}
#fountainTextG{
	width:870px;
	margin:auto;
}

a{
    color: rgb(67, 139, 139);
    text-decoration: underline;
}
a:hover,
a:active{
    color: rgb(67, 139, 139);
    font-size: 1.2em;

}

.tbhead{
    font-size: 1.5em;
	text-decoration: underline;
	font-variant-caps:all-petite-caps;
}

.mainDiv{
    border-radius:5px;
    background-color:grey!important;
	border-bottom: lightgrey solid 1px;
	margin-top:1em;
}

.wrap{

}

.fountainTextG{
	color:rgb(0,0,0);
	font-family:Arial;
	font-size:91px;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
	float:left;
	animation-name:bounce_fountainTextG;
		-o-animation-name:bounce_fountainTextG;
		-ms-animation-name:bounce_fountainTextG;
		-webkit-animation-name:bounce_fountainTextG;
		-moz-animation-name:bounce_fountainTextG;
	animation-duration:2.09s;
		-o-animation-duration:2.09s;
		-ms-animation-duration:2.09s;
		-webkit-animation-duration:2.09s;
		-moz-animation-duration:2.09s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.5);
		-o-transform:scale(.5);
		-ms-transform:scale(.5);
		-webkit-transform:scale(.5);
		-moz-transform:scale(.5);
}#fountainTextG_1{
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}
#fountainTextG_2{
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}
#fountainTextG_3{
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}
#fountainTextG_4{
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}
#fountainTextG_5{
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}
#fountainTextG_6{
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}
#fountainTextG_7{
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}




@keyframes bounce_fountainTextG{
	0%{
		transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainTextG{
	0%{
		-o-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-o-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainTextG{
	0%{
		-ms-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-ms-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainTextG{
	0%{
		-webkit-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-webkit-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainTextG{
	0%{
		-moz-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-moz-transform:scale(.5);
		color:rgb(255,255,255);
	}
}



.flexy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
    padding-left: 1px;
}

nav.nav-wrapper.valign-wrapper.blue-grey.lighten-2 {
    z-index: 10000;
    padding-top: 1em;
}

.card .card-title {
    margin: 0 auto !important;

}

.select-wrapper input.select-dropdown {
    border-bottom: none;
    color:rgba(238, 238, 238, 0.849);
	margin-bottom: 0;
	font-family: 'Josefin Sans', sans-serif;
	font-variant-caps: all-petite-caps;

}

form{
    padding:2em;
}


input#searchBox {
    height: 2.5em;
}

.searchOne {
    float: left;

}

.searchTwo {
    float: right;

}

.leftMain {
    margin-right: 0;
    margin-left: 25%;
}

.rightMain {
    margin-left: 0;
    margin-right: 50%;

}

.dropOpt {
    /* margin-left: 2em !important; */
    border-radius: .3em;
    font-size:1.2em;
    padding-left:0;
}

.brand-logo{
    width:10%;
    height:10%;
}

h1.allowPls.black-text {
	padding: 1em;
	font-size: 2em;
}

.tableRow {
    padding: 1em;
}



.begin{
	border-radius:10px;
	width:70vw;
	margin: 0 auto;
	text-align:center
}

table.highlight tbody tr:hover {
    background-color: #eee !important;
}

select{
	color:orange!important;
}

#resultsDiv{
    padding:2em;
}

table.highlight tbody tr:hover {
  
        background:
          -webkit-linear-gradient(294deg, rgb(142, 206, 203) 0%, hsla(177.1, 33.33%, 41.81%, 0) 65%),
          -webkit-linear-gradient(135deg, hsla(173.21, 100%, 93.23%, 1) 15%, hsla(173.21, 100%, 93.23%, 0) 80%);
        background:
          linear-gradient(156deg, rgb(142, 206, 203)(177.1, 33.33%, 41.81%, 1) 0%, hsla(177.1, 33.33%, 41.81%, 0) 65%),
          linear-gradient(315deg, hsla(173.21, 100%, 93.23%, 1) 15%, hsla(173.21, 100%, 93.23%, 0) 80%);
		
		  font-variant-caps: all-petite-caps;

}

h4.results.align-center {
    background-color: rgba(238, 238, 238, 0.753);
    border-radius: 2px;
    padding-top: .5em;
    padding-bottom: .5em;
    border-top: rgba(139, 139, 139, 0.493) solid 1px;
	border-bottom: rgba(139, 139, 139, 0.493) solid 1px;
	font-variant-caps: all-small-caps;
}

.ytbtn{
    background-image: url('../images/yt_icon_mono_light.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


.helpDiv{
    margin-top:1em; margin-right:1em;
}

.nav-wrapper{
	border-bottom: teal 1px solid;
	background-color:rgb(17, 17, 17);
		height: 120%!important;
		margin-bottom:1em;

}
tr {
	font-variant-caps: all-petite-caps;
	font-size:1.3em;
}